<!DOCTYPE HTML>
<html>
<head>
    <title>ACol - Database for Excitation-Ionization Collisional Atomic Processes</title>
    <link rel="stylesheet" type="text/css" href="http://servo.aob.rs/acol/static/css/jquery-ui.css">
    <link href="http://servo.aob.rs/acol/static/main.css" type="text/css" rel="stylesheet"/>
    <link href="http://servo.aob.rs/acol/static/xmldisplay/XMLDisplay.css" type="text/css" rel="stylesheet"/>
    <script src="http://servo.aob.rs/acol/static/xmldisplay/XMLDisplay.js" type="text/javascript"></script>
    <script src="http://servo.aob.rs/acol/static/js/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://servo.aob.rs/acol/static/js/jquery-ui.js" type="text/javascript"></script>
    <script src="http://servo.aob.rs/acol/static/js/combo-ajax.js" type="text/javascript"></script>
</head>
<body>
	<div id = "header">
      <table width="100%">
         <tr>
            <td width="300">
               <img src="http://servo.aob.rs/mold/static/images/if.jpg" title="IPB Logo" width='260px' />
               <img src="http://servo.aob.rs/mold/static/images/aob.jpg" title="AOB Logo" width='260px' />
            </td>
            <td align="center">
               <h2>Collisional Atomic Processes (Excitation-Ionization) - ACol database</h2><br />
               <h5>
               <a href="http://www.ipb.ac.rs/" target="_blank">Institute of Physics Belgrade</a>
               ::<a href="http://www.aob.rs/" target="_blank"> Astronomical Observatory Belgrade</a>
             </h5>
            </td>
            <td width="450">
              <a href="https://www.ta3.sk/caosp/Eedition/FullTexts/vol52no3/pp71-77.pdf">
                <img src="http://servo.aob.rs/acol/static/images/acol.jpg" title="atomic collision"/>
              </a>
            </td>
         </tr>
      </table>
	</div>

	<div id="wrapper">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Overview</a></li>
        <li><a href="#tabs-2">Explore data</a></li>
        <li><a href="#tabs-3">Qn plots</a></li>
        <li><a href="#tabs-4">Generate XSAMS</a></li>
      </ul>
      <div id="tabs-1">
        <div id="OverviewHolder">
          <div id="OverviewSummary">
            Loading statistics...
          </div>

          <div class="OverviewCharts">
            <div class="OverviewChartBox">
              <h3>Collision occurrences by type</h3>
              <div id="OverviewCollisionsByType"></div>
            </div>

            <div class="OverviewChartBox">
              <h3>Papers contributing collision data</h3>
              <div id="OverviewSources"></div>
            </div>

            <div class="OverviewChartBox">
              <h3>Species/state occurrences in collisions</h3>
              <div id="OverviewSpeciesStates"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="tabs-2">
        <div id="ExploreHolder">
          <div id="ExploreSummary">Loading database overview...</div>

          <div id="ExploreFilters">
            <div class="ExploreFilterItem">
              <label for="ExploreCollisionType">Collision type</label>
              <select id="ExploreCollisionType">
                <option value="">all</option>
              </select>
            </div>

            <div class="ExploreFilterItem ExploreSpeciesFilterItem">
              <label for="ExploreSpeciesText">Species filter</label>
              <input id="ExploreSpeciesText" type="text" placeholder="formula or name, e.g. H, He, Hydrogen">
            </div>

            <div class="ExploreFilterItem">
              <label for="ExploreSource">Source</label>
              <select id="ExploreSource">
                <option value="">all</option>
              </select>
            </div>
          </div>

          <table id="ExploreTable">
            <thead>
              <tr>
                <th>Type</th>
                <th>Reaction</th>
                <th>X range</th>
                <th>Y range</th>
                <th>Source</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr><td colspan="6">Loading...</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="tabs-3">
        <p class="TabIntro">Quick diagnostic plots of rate coefficients against principal quantum number for selected collision processes and temperatures.</p>
        <div class="styled-select">
          <ul>{{ p.as_ul }}</ul>
          <input id="plot" type="submit" value="Plot">
          <div id="PlotHolder"></div>
        </div>
      </div>
      <div id="tabs-4">
        <p class="TabIntro">Generate XSAMS output for selected collision processes and species. This is the low-level VAMDC-style query interface.</p>
        <div class="styled-select">
          <ul>{{ f.as_ul }}</ul>
          <input id="generateXsams" type="submit" value="Search">
        </div>
        <div id="results">
          <div id="XMLHolder"></div>
        </div>
      </div>
    </div>
	</div>

  <div id="ExploreModal" class="ExploreModal" aria-hidden="true">
    <div class="ExploreModalOverlay"></div>
    <div class="ExploreModalDialog" role="dialog" aria-modal="true" aria-labelledby="ExploreModalTitle">
      <button type="button" class="ExploreModalClose" aria-label="Close explore details">&times;</button>
      <h3 id="ExploreModalTitle">Process details</h3>
      <div id="ExploreModalStatus" class="ExploreModalStatus"></div>
      <div id="ExploreModalContent" class="ExploreModalContent">
        <section class="ExploreModalSection">
          <h4>Plot</h4>
          <div id="ExplorePlot"></div>
        </section>
        <section class="ExploreModalSection">
          <h4>Sources</h4>
          <div id="ExploreSources"></div>
        </section>
        <section class="ExploreModalSection">
          <h4>Raw x/y data</h4>
          <div id="ExploreRaw"></div>
        </section>
      </div>
    </div>
  </div>

	<div id="footer">
    <div id="citation"><h3></h3>
      <p>This service is developed in stages during short term scientific missions supported by <a href='http://www.cost.eu'><b>COST<b></a></p>
      <p><b></b></p></div>
            <img src="http://servo.aob.rs/mold/static/images/partners.jpg"/>
	</div>
</body>
</html>
